.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 5px solid rgba(205, 205, 227, 0.4);
  transform: scale(1);
  transition: transform 0.2s;
  margin: 20px;

  .circle--title {
    display: flex;
    border-radius: 50%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    transition: all 0.2s;
  }

  /***Flip card section***/

  .circle--text {
    display: flex;
    opacity: 0;
    border-radius: 50%;
    // background-color: rgba(0, 0, 0, 0.6);
    color: rgb(178, 174, 174);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.2s;
  }

  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);

    transition: transform 0.1s, border-top-color 0.1s linear 0.1s, border-left-color 0.1s linear 0.1s, border-bottom-color 0.1s linear 0.1s,
      border-right-color 0.1s linear 0.1s;

    .circle--text {
      opacity: 1;
      transform: translateY(10px);
    }

    .circle--title {
      transform: translateY(-26px) scale(1.5);
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
.circle__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
