.track-header-image {
  width: 193px;
  height: 193px;
  margin-right: 24px;
}

.track-header-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;
  width: 100%;
  letter-spacing: -0.04em;
  padding: 0.08em 0 0.08em 0;
}

.track-header-detail {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
}
